# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:    pdo_pgsql
    database_host:      ec2-54-247-125-202.eu-west-1.compute.amazonaws.com
    database_port:      5432
    database_name:      d8ul3ddagiij8g
    database_user:      mdiwfkxrnheurq
    database_password:  smPd8JNEobgAIHgTZ3k3fJpQTL
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    doge_facebook.appId: 468672573284887
    doge_facebook.appSecret: 7c587c1b5dda8bf23c26c2ce7128fe50
    doge_facebook.scopes: "user_photos, publish_actions, user_about_me, user_birthday, user_location"
