/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,body{
    height: 100%;
}

html{
    width: 100%;
    margin:0;
}

body{
    width: 100%;
    min-height: 100%;
    margin:0;
}

header{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 30px 0;
}

img.logo{width: 130px; height: auto; margin: 0 auto;}

#container{
    width: 100%;
    margin:0;
    min-height: 100%;
    background-color: #a5c8ec;
    text-align:  center;
    background-image: url('../img/swimmingpool.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#container.page_home{
    padding-bottom: 20px;
}

#container.page_home h1{
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 35px;
    color: #fff;
    text-transform: uppercase;
    margin: 30px auto 0;
}

#container.page_home h3{
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #fff;
    margin: 20px auto 0;
}

ul.slide_home{
    margin: 0;
}

#container.page_home .bx-wrapper{
    width: 100%;
    margin: 30px auto 0;
}

#container.page_home .bx-wrapper .bx-viewport{
    width: 100%;
    height: 400px !important;
    margin: 25px auto 0;
    padding: 0;
    left: 0;
    border: 10px solid #fff;
    background: none;
    overflow: hidden;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#container.page_home a.cta_home_link:hover .bx-wrapper .bx-viewport{/* border-color:#ce9249; */ border-color: #f6ad54;}

#container.page_home .bx-wrapper .bx-viewport ul.slide_home img{
    height: auto;
    margin: 0;
    width: 600px;
}

#container.page_home .bx-wrapper{width: 100%;}

#container.page_home .bx-wrapper .bx-next, #container.page_home .bx-wrapper .bx-prev{
    width: 48px;
    height: 48px;
    top: 50%;
    background-color: #ffffff;
    background-position: center center;
    margin-top: -24px;
    opacity: 0.6;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#container.page_home .bx-wrapper li{
    margin: 0;
    left: 0;
}

#container.page_home .bx-wrapper .bx-next:hover, #container.page_home .bx-wrapper .bx-prev:hover{opacity: 1;}

#container.page_home .bx-wrapper .bx-next{
    right: 0;
    background-image: url('../img/nav-right.png');
}


#container.page_home .bx-wrapper .bx-prev{
    left: 0;
    background-image: url('../img/nav-left.png');
}

a.cta_home_link div.cta_login{
    width: 312px;
    background: none repeat scroll 0 0 #f6f6f6;
    /* border: 1px solid #f6f6f6; */
    color: #000;
    display: block;
    position: absolute;
    top:50%;
    left: 50%;
    font-size: 16px;
    line-height: 40px;
    margin: -20px auto 0 -156px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

a.cta_home_link{
    background: none repeat scroll 0 0 white;
    color: black;
    display: inline-block;
    margin: 20px auto 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    height: 48px;
    line-height: 48px;
    border: none;
    vertical-align: middle;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

}
a.cta_home_link:hover{
    background-color: #3360a3;
    color:white;
}

a.cta_home_link *{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.slider_home_wrapper{
    display: block;
    height: auto;
    width: 600px;
    position: relative;
    margin:0 auto;
}

#container.page_home .fb-like{
    margin-top: 25px;
}


/*****************************GALLERY*****************************/

#gallery{
    margin: 30px auto 0;
    max-width: 810px;
    width: 100%;
    padding-bottom: 30px;
}

#gallery div.openpop{
    display: block;
    float: left;
    margin-bottom: 30px;
    margin-right: 30px;
    overflow: hidden;
    width: 250px;
    height: 400px;
}

#gallery div.openpop a {
    display: block;
    height: auto;
    position: relative;
}

#gallery div.openpop .hover_gallery{
    border-color: white;
}

#gallery div.openpop a:hover .hover_gallery{
    border: 10px solid white;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#gallery div.openpop.first{
    clear:left;
}

#gallery div.openpop.last{
    margin: 0;
}

.popup_participation .gal_content{
    position: relative;
}

#gallery div.openpop img{
    width: 100%;
    height:auto;
}

#gallery .popup_participation{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
    opacity: 0;
    text-align: center;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.pager.pager_bottom{
    margin: 0 auto;
    width: 100%;
    max-width: 810px;
    clear: both;
}

.pager.pager_bottom a,.pager.pager_bottom p{
    display: inline-block;
    margin:0 5px;
    color: white;
    text-shadow: 2px 1px 10px rgba(0, 0, 0, 1);
}

.pager.pager_bottom a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 1px 10px rgba(0, 0, 0, 1);
}

#gallery .popup_participation.show{
    z-index: 3;
    opacity: 1;

}

.popup_participation .frame{
    opacity: 0;
    -webkit-transition: all 0.6s ease-in-out 0.2s;
    -moz-transition: all 0.6s ease-in-out 0.2s;
    -ms-transition: all 0.6s ease-in-out 0.2s;
    -o-transition: all 0.6s ease-in-out 0.2s;
    transition: all 0.6s ease-in-out 0.2s;
}
.popup_participation.show .frame{
    opacity: 1;
}
.popup_participation .close{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 27px;
    height: 27px;
    display: block;
    background: url(../img/close.png) top left no-repeat;
    cursor: pointer;
    z-index: 5;
}
.visu{
    width: 430px;
    margin: 20px auto;
}
.inside_visu{
    overflow: hidden;
    background: rgba(0,0,0,0.6);
    padding: 14px;
    width: 100%;
    height: auto;
}
.visu img{
    max-width: 100%;
}
.frame p.pseudo{
    font-family: "GaramondIT", serif;
    font-style:italic;
    font-size: 21px;
    font-weight: normal;
}
.frame p{
    width: 350px;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
}

/* ==========================================================================
   Upload
   ========================================================================== */

.message_form{
    color: white;
    font-family: "Vollkorn",serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
}

#upload .wrapper_form{
    display:inline-block;
    width: 630px;
    margin-top:50px;
    text-align: left;
}

#upload #sub-form1,
#upload #sub-form2{
    float: left;
    width:300px;
    border: 5px solid #ffffff;
    padding: 20px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
}

#upload #sub-form2{
    margin-left: 15px;
}

#upload #sub-form1 h2,
#upload #sub-form2 h2{
    color: #fff;
    font-family: "Vollkorn",serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    margin: 5px auto 0;
    text-transform: uppercase;
}

#upload .wrapper_form input:not(#form_envoyer),
#upload .wrapper_form select{
    height: 30px;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    margin-bottom:15px;
}

#upload .wrapper_form select{
    font-family: 'Open Sans';
    font-size: 11px;
}

#upload .wrapper_form label{
    display: inline-block;
    color:white;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.2;
    text-shadow: 4px 1px 6px rgba(150, 150, 150, 1);
}

#upload .wrapper_form #form_file{
    font-size: 12px;
    color: #ffffff;
    text-shadow: 4px 1px 6px rgba(150, 150, 150, 1);
}

#upload .wrapper_form .submit_wrapper{
    text-align: center;
}

#upload .wrapper_form #form_envoyer{
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border: none;
    display: inline-block;
    font-family: "Vollkorn";
    font-size: 15px;
    line-height: 15px;
    padding: 13px 0 12px;
    font-style: normal;
    font-weight: normal;
    height: 37px;
    margin: 0;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    width: 105px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

#upload .wrapper_form input.createAlbum#createAlbum{
    height: auto;
    width: auto;
    display: inline-block;
    margin: 0 0 0 15px;
}

#upload .show_images_button{
    width: 100%;
    display: block;
    background: #ffffff;
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 11px;
    line-height: 1;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
    cursor: pointer;
}

#upload .images_from_gallery{
    display: block;
}

#upload .wrapper_form textarea#form_text{
    width: 100%;
    border: none;
    margin-bottom: 15px;
    resize:none;
}

#upload .wrapper_images{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
    opacity: 0;
    text-align: center;
    overflow-y: auto;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

#upload .wrapper_images.show{
    z-index: 3;
    opacity: 1;
}

#upload .wrapper_images .close{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 27px;
    height: 27px;
    display: block;
    background: url(../img/close.png) top left no-repeat;
    cursor: pointer;
    z-index: 5;
}

#upload .wrapper_choix_image{
    width: 100%;
    max-width: 1024px;
    margin: 40px auto 0;
    display: none;
}

#upload .wrapper_choix_image.active_image_choice{
    display: block;
}

#upload .wrapper_choix_image .line{
    width: 100%;
    margin-bottom: 60px;
    height: auto;
}

#upload .wrapper_choix_image .choix_image{
    width: 250px;
    float: left;
    margin-left: 135px;
    position: relative;
}

#upload .wrapper_choix_image .choix_image .validate{
    width: 150px;
    display: none;
    background: #ffffff;
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 11px;
    line-height: 1;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -75px;
}

#upload .wrapper_choix_image .choix_image.active .validate{
    display: block;
}

#upload .wrapper_choix_image .choix_image label{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    max-height: 336px;
}

#upload .wrapper_choix_image .choix_image input{
    display: none;
    position: absolute;
    left:-9999px;
}

#upload .wrapper_choix_image .choix_image.active .hover_choix_image{
    border: 10px solid white;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#upload .wrapper_choix_image .choix_image.first{margin-left: 0;}

#upload .wrapper_choix_image .choix_image img{
    width:100%;
    height: auto;
}

#upload .wrapper_choix_image .choix_image.first{
    clear:left;
}
/* ==========================================================================
   ADMIN FORM CONNEXION
   ========================================================================== */
#adminConnexion form {
    border: 5px solid white;
    margin: 200px auto;
    padding: 25px;
    width: 300px;
}

#adminConnexion .ligne {
    margin: 10px 0;
}

#adminConnexion .ligne label {
    color: #ffffff;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    width: 120px;
}

#adminConnexion input[type="submit"] {
    background: none repeat scroll 0 0 #06a5b4;
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 40px auto 0;
    overflow: visible;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

#adminConnexion input[type="submit"]:hover {
    background-color: #f3f3f3;
    color: #06a5b4;
}

#adminStats{
    width: 100%;
    max-width: 1024px;
    margin:0 auto;
    background:white;
    padding: 10px;
    box-sizing: border-box;
}

#container #adminStats  h3{
    text-transform: uppercase;
    color: #000000;
    font-style: normal;
    margin-bottom: 15px;
}

#adminStats table{
    margin: 0 auto;
    text-align: left;
}

#adminStats table td, #adminStats table th{
    padding: 7px;
}

#adminStats table tr{
    border: 1px solid black;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1024px) {
    #upload .wrapper_choix_image .choix_image .validate{
        width: 150px;
        margin-left: 10%;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

