@media only screen and (max-width: 810px) {

	#gallery div.openpop.first {
		margin-left:5%;
	}
	
	#gallery div.openpop {
		display: block;
		float: left;
		height: 100%;
		margin-bottom: 3%;
		margin-right: 4.5%;
		overflow: hidden;
		position: relative;
		width: 27%;
        height: 335px;
	}
}



@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

    .slider_home_wrapper {
        width: 95%;
        height: 100%;
    }

}

#container.page_home .bx-wrapper .bx-viewport {

    height: 270px !important;

}


@media only screen and (max-width: 360px) {

    .slider_home_wrapper {
        width: 95%;
        height: 100%;
    }

    #gallery div.openpop {
        display: block;
        float: left;
        height: 100%;
        margin-bottom: 3%;
        margin-right: 5%;
        overflow: hidden;
        position: relative;
        width: 27%;
    }

    #gallery div.openpop.first {
        margin-left: 5%;
    }

    #container.page_home h1 {

        font-size: 19px;

    }

}

@media only screen and (max-width: 360px) {

    #container.page_home .fb-like {
        margin-top: 15px;
    }
}


.fb-like {
    filter:hue-rotate(120deg);
    -webkit-filter: hue-rotate(120deg);
}

#container.page_home .bx-wrapper .bx-viewport {
    width: 500px !important;
    height: 340px !important;
}

#container.fb_tab header {
    text-align: center;

}
#container.page_home {
    padding-bottom: 0px;
}









