@media only screen and (max-width: 810px) {

	#gallery a.openpop.first {
		margin-left:5%;
	}
	
	#gallery a.openpop {
		display: block;
		float: left;
		height: 100%;
		margin-bottom: 3%;
		margin-right: 4.5%;
		overflow: hidden;
		position: relative;
		width: 27%;
	}
}
}


@media only screen and (max-width: 768px) {

#gallery a.openpop {
		display: block;
		float: left;
		height: 100%;
		margin-bottom: 3%;
		margin-right: 4.5%;
		overflow: hidden;
		position: relative;
		width: 30%;
	}
}

@media only screen and (max-width: 600px) {


.slider_home_wrapper {
    width: 95%;
	height: 100%;
}

#container.page_home .bx-wrapper .bx-viewport {

    height: 270px !important;

}


@media only screen and (max-width: 360px) {


	.slider_home_wrapper {
		width: 95%;
		height: 100%;
	}

	#gallery a.openpop {
		display: block;
		float: left;
		height: 100%;
		margin-bottom: 3%;
		margin-right: 5%;
		overflow: hidden;
		position: relative;
		width: 27%;
		}

	#gallery a.openpop.first {
		margin-left:5%;
	}

	#container.page_home h1 {

		font-size: 19px;

	}

#container.page_home .bx-wrapper .bx-viewport {

    height: 210px !important;

}

}






