{% extends 'DogeFacebookBundle:Layout:layout.html.twig' %}

{% block content %}
    <div>
        <h1>Become the sublime model<br />of Kawaii Pets</h1>
        <h3>Upload your cutest photo<br />to become the new ambassador of Kawaii Pets</h3>
        <div class="slider_home_wrapper">

        </div>
        </a>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

