{% extends 'DogeFacebookBundle:Layout:layout.html.twig' %}
{% block content %}
    <div id="rules">
        <div id="adminStats">
            <table id="customers">
                <tbody>
                <div class="l-site-content content">

                    <h1 style='font-size: 50px;'>
                        Fan photo contest rules
                    </h1>

                    <h3>
                        FACEBOOK FAN PHOTO CONTEST
                    </h3>

                    <p>
                        Facebook Fans: "Kawaii Pets" fan photo contest on the official Doge Facebook Page. Show the world your cuteness by sharing photos of your favorite profile. Doge SARL reserves the right to remove fan photos from the facebook page and contest consideration if the content of the photos does not promote the cuteness of Doge SARL values.
                    </p>

                    <h3>
                        WINNER SELECTED BY DOGE SARL
                    </h3>

                    <p>Doge SARL will be selecting the winning photo! The winner will receive the cuteness award and a wonderfull Doge Car.</p>


                    <h3>
                        ELIGIBILITY
                    </h3>

                    <p>The contest is open to all pets Doge facebook fans who are vaccinated and tattooed. There is no entry fee. The contest is void where prohibited by law, or where the registration or filing requirements of any state or local jurisdiction have not been complied with. The contest is not open to employees of Doge SARL.</p>

                    <h3>
                        DEADLINE
                    </h3>

                    <p>
                        Fan photos will be accepted starting 9:00 a.m. CST on Thursday, July 23, 2015. All entries must be submitted online by noon CST on July 31, 2015.
                    </p>

                    <h3>
                        SUBMITTING YOUR ENTRY
                    </h3>

                    <p>
                        Upload your photo through the Kawaii Pets app and add a description to it. Contest is limited to one entry per person. We invite fans to share photos; however, we will consider only the first photo posted to the wall for the contest.
                    </p>

                    <h3>
                        WINNER NOTIFICATION
                    </h3>

                    <p>
                        Doge SARL will announce the contest winner on August 1st 2015, via the Doge Facebook page.
                    </p>
                </div>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}
