{% extends 'DogeFacebookBundle:Layout:layout.html.twig' %}


{% block js %}

    <script type="text/javascript">
        alert("df");

    </script>
    {{ parent() }}

{% endblock %}


{% block content %}
    <div>
        <h1>Become the sublime model<br />of Kawaii Pets</h1>
        <h3>Upload your cutest photo<br />to become the new ambassador of Kawaii Pets</h3>
        <div class="slider_home_wrapper">
            <ul class="slide_home">
                <li>
                    <img src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}" alt="">
                </li>
                <li>
                    <img src="{{ asset("bundles/dogefacebook/img/slide02.jpg") }}" alt="">
                </li>
                <li>
                    <img src="{{ asset("bundles/dogefacebook/img/slide03.jpg") }}" alt="">
                </li>
            </ul>
        </div>
        </a>
    </div>
{% endblock %}

